In [80]:
import pandas as pd


read Data

In [81]:
df = pd.read_csv('newdata.csv')

In [82]:
df.head()

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
0,100,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,1,0
1,100,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,2,0
2,100,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,3,0
3,100,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,4,0
4,100,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1,5,0

In [83]:
df.tail()

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
31495,104,0,0,-1,-1,-1,-1,-1,-1,0,-1,96,1
31496,104,0,0,-1,-1,-1,-1,-1,-1,0,-1,97,1
31497,104,0,0,-1,-1,-1,-1,-1,-1,0,-1,98,1
31498,104,0,0,-1,-1,-1,-1,-1,-1,0,-1,99,1
31499,104,0,0,-1,-1,-1,-1,-1,-1,0,-1,100,1

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31500 entries, 0 to 31499
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fever        31500 non-null  int64
 1   dry-cough    31500 non-null  int64
 2   fatigue      31500 non-null  int64
 3   sputum       31500 non-null  int64
 4   breath       31500 non-null  int64
 5   arthralgia   31500 non-null  int64
 6   sore-throat  31500 non-null  int64
 7   headache     31500 non-null  int64
 8   chills       31500 non-null  int64
 9   vomiting     31500 non-null  int64
 10  nasal        31500 non-null  int64
 11  age          31500 non-null  int64
 12  prob         31500 non-null  int64
dtypes: int64(13)
memory usage: 3.1 MB

In [85]:
df['fever'].value_counts()

101    6301
103    6300
102    6300
100    6299
104    6200
105     100
Name: fever, dtype: int64

In [86]:
df.describe()

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
count,31500.000000,31500.000000,31500.000000,31500.000000,31500.000000,31500.000000,31500.000000,31500.000000,31500.000000,31500.000000,31500.00000,31500.000000,31500.000000
mean,102.003206,-0.730159,-0.730159,-0.825397,-0.825397,-0.825397,-0.825397,-0.825397,-0.825397,-0.825397,-0.84127,50.500000,0.288952
std,1.419800,0.443884,0.443884,0.379633,0.379633,0.379633,0.379633,0.379633,0.379633,0.379633,0.36543,28.866528,0.453283
min,100.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,1.000000,0.000000
25%,101.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,25.750000,0.000000
50%,102.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,50.500000,0.000000
75%,103.000000,0.000000,0.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.00000,75.250000,1.000000
max,105.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,100.000000,1.000000

train test spliting

In [87]:
import numpy as np

In [88]:
def data_split(data,ratio):
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [99]:
len(df) - 6300

25200

In [95]:
np.random.permutation(len(df))

array([22938,  1840,  1531, ...,  6009,  1667, 19411])

In [98]:
print(len(shuffled[6300::-1]))

6301

In [91]:
train,test = data_split(df,0.2)

In [92]:
train

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
11950,104,-1,0,-1,-1,-1,0,-1,-1,-1,-1,51,0
4899,103,-1,-1,-1,-1,-1,-1,-1,-1,0,-1,100,0
29829,103,0,0,-1,-1,-1,0,-1,-1,-1,-1,30,1
19921,104,-1,-1,-1,0,-1,-1,-1,-1,0,-1,22,1
28421,104,0,0,0,-1,-1,-1,-1,-1,-1,-1,22,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6074,100,0,-1,0,-1,-1,-1,-1,-1,-1,-1,75,1
27920,104,-1,-1,-1,-1,-1,-1,-1,-1,0,0,21,0
28092,100,0,0,0,-1,-1,-1,-1,-1,-1,-1,93,1
15774,102,-1,-1,0,-1,-1,-1,0,-1,-1,-1,75,0
12035,100,-1,0,-1,-1,-1,-1,0,-1,-1,-1,36,0

In [93]:
test

,fever,dry-cough,fatigue,sputum,breath,arthralgia,sore-throat,headache,chills,vomiting,nasal,age,prob
21870,103,-1,-1,-1,-1,0,-1,-1,0,-1,-1,71,0
31470,104,0,0,-1,-1,-1,-1,-1,-1,0,-1,71,1
25960,104,-1,-1,-1,-1,-1,-1,0,-1,0,-1,61,0
24091,100,-1,-1,-1,-1,-1,0,-1,-1,0,-1,92,0
7540,100,0,-1,-1,-1,-1,0,-1,-1,-1,-1,41,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
23423,104,-1,-1,-1,-1,-1,0,0,-1,-1,-1,24,0
12142,101,-1,0,-1,-1,-1,-1,0,-1,-1,-1,43,0
20472,104,-1,-1,-1,0,-1,-1,-1,-1,-1,0,73,1
15335,103,-1,-1,0,-1,-1,0,-1,-1,-1,-1,36,0
8053,100,0,-1,-1,-1,-1,-1,0,-1,-1,-1,54,0

In [104]:
x_train = train[['fever','dry-cough','fatigue','sputum','breath','arthralgia','sore-throat','headache','chills','vomiting','nasal','age']].to_numpy()
x_test = test[['fever','dry-cough','fatigue','sputum','breath','arthralgia','sore-throat','headache','chills','vomiting','nasal','age']].to_numpy()

In [105]:
y_train = train[['prob']].to_numpy().reshape(25200 ,)
y_test = test[['prob']].to_numpy().reshape(6300,)

In [106]:
y_train

array([0, 0, 1, ..., 1, 0, 0], dtype=int64)

In [107]:
from sklearn.linear_model import LogisticRegression

In [108]:
clf = LogisticRegression()
clf.fit(x_train,y_train)

c:\users\dell\desktop\python 3\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [109]:
infprob = clf.predict_proba([[102,1,1,1,1,0,0,0,0,0,0,70]])[0][1]

In [110]:
infprob

1.0